<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
    <div id="wrap">
      <header>
        <h1>Shortener.rb</h1>
      </header>
      <section>
        <p>Here is your shortened url:</p>
        <p class="short"><%= @short_url %></p>
      </section>
      <footer>
        <p>&copy; 2010 - Josh Sandlin</p>
      </footer>
    </div>
  </body>
</html>
